<%include layouts/top.ejs%>
<style>
.apass-form{
    margin: 57px 122px;
}
.apass-frm-grp{
    margin: 12px 0px;
}
.apass-frm-grp label{
    font-family: sans-serif;
    padding-right: 37px;  
}

</style>
</head>
<body>
<%include layouts/header.ejs%>
<div class="apass-form">


<form action="/chits/adminpass" method="POST">
    <div class="apass-frm-grp">
        <label>
            password
        </label>
        <input type="text" name="psd" placeholder="password">
    </div>
    <div class="apass-frm-grp">
            <input type="submit" value="submit">
    </div>
    

</form>
</div>
<%include layouts/footer.ejs%>