<%include layouts/top%>
<!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
<link href="favicon.ico" rel="shortcut icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
  <!-- Libraries CSS Files -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<link rel= "stylesheet" href = "/../css/index.css" type = "text/css">
</head>
<body>
    <%include layouts/header%>
    <div class='intro'>
      <div class="quote">
          <p>“A simple fact that is hard to learn is that the 
                          <span class="space">time to save money is when you have</span> some.”</p>
      </div>
      <div>

      </div>
    </div>

  <section id="testimonials">
        <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-12">
              <h3 class="section-title">Testimonials</h3>
              <div class="section-title-divider"></div>
              <p class="section-description">Erdo lide, nora porodo filece, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-3">
              <div class="profile">
                <div class="pic"><img src="/../images/client1.png" alt=""></div>
                <h4>SriRam Chndaka</h4>
                <span>Lawless Inc</span>
              </div>
            </div>
            <div class="col-md-9">
              <div class="quote">
                <b><img src="img/quote_sign_left.png" alt="">
                </b> ChitsCo really helped us grow i can keep track of my customers status in there and if i need to look up in future or call them up for followup,i have all of that so it's helped to organized my bussiness<small><img src="img/quote_sign_right.png" alt=""></small>
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-9">
              <div class="quote">
                <b><img src="img/quote_sign_left.png" alt=""></b>As a busy business owner, I need 21st century technology, backed by the human touch.  With ChitsCo, I have both, and my chits is easy as 'pizza' pie.. <small><img src="img/quote_sign_right.png" alt=""></small>
              </div>
            </div>
            <div class="col-md-3">
              <div class="profile">
                <div class="pic"><img src="/../images/client2.jpg" alt=""></div>
                <h4>Saikumar Bonda</h4>
                <span>Odeo Inc</span>
              </div>
            </div>
          </div>
    
        </div>
      </section>


    <section id="team">
            <div class="container wow fadeInUp">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="section-title">Our Team</h3>
                  <div class="section-title-divider"></div>
                  <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </div>
              </div>
        
              <div class="row">
                <div class="col-md-4">
                  <div class="member">
                    <div class="pic"><img src="/../images/team1.jpg" alt=""></div>
                    <h4>Srujan Reddy</h4>
                    <span>Chief Executive Officer</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
        
                <div class="col-md-4">
                  <div class="member">
                    <div class="pic"><img src="/../images/team2.jpg" alt=""></div>
                    <h4>Janakiram</h4>
                    <span>Product Manager</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>
        
                <div class="col-md-4">
                  <div class="member">
                    <div class="pic"><img src="" alt=""></div>
                    <h4>Anvesh Reddy</h4>
                    <span>CTO</span>
                    <div class="social">
                      <a href=""><i class="fa fa-twitter"></i></a>
                      <a href=""><i class="fa fa-facebook"></i></a>
                      <a href=""><i class="fa fa-google-plus"></i></a>
                      <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    </section>
<%include layouts/footer%>