<footer id='footer'>
    <div class="f-data">
            <div class="copyright">
                    © Copyright <strong>Chits</strong>. All Rights Reserved
            </div>
            <div class="credits">
                 
                    Designed by <a href="#">Chitsco.ltd</a>
            </div>
    </div>
    
</footer>
</div>
 
</body>
</html>