
<div id="header-sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 91px;">
    <header id="header" style=" position: fixed; top: 0px; z-index: 50;">
        <div class="container">
    
          <div id="logo" class="pull-left">
            <a href="/">ChitsCo</a>
            <!-- Uncomment below if you prefer to use a text image -->
            <!--<h1><a href="#hero">Header 1</a></h1>-->
          </div>
    
          <nav id="nav-menu-container">
            <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
              <li class="menu-active"><a href="#hero">Home</a></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#testimonials">Testimonials</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="#dropdown">Drop Down</a> </li>
              <li><a href="/chits/login"><i class="glyphicon glyphicon-user"></i>login</a></li>
            </ul>
          </nav>
          <!-- #nav-menu-container -->
        </div>
    </header>
</div>
